
@font-face {
  font-family: 'HelveticaNeueLT-Light';
  src: url('./Font/HelveticaNeue-Light.eot') format('embedded-opentype'), 
   url('./Font/HelveticaNeue-Light.woff') format('woff'), 
   url('./Font/HelveticaNeue-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: HelveticaNeueLT-Light; 
}


img{
    max-width: 100%;
}

.slider .slide .arrow{
    background: #242424;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
    position: absolute;
    right: 4%;
    bottom: 7px;
}

.slider .slide .arrow:before{
    content: '';
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    border: 2px solid white;
    top: 3px;
    left: 3px;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 0px;
    transition: height 500ms;
}

.slider .slide{
    position: absolute;
    z-index: 0;
    top: -200%;
    transition: 700ms;
}
.slider .slide img{
    display: block;
}


.slider .text{
    background-color: white;
    padding: 15px;
    border-bottom: 30px solid #242424;
    box-sizing: border-box;
    color: #666;
}

.slider .text h2{
    color: #3d3d3d;
    font-size: 44px;
}

.slider .text p{
    margin-top: 0;
}
.slider .slide.previous{
    top:0;
}

.slider .slide.active{
    z-index: 1;
    top: 0;
}

.slider .slide h2{
    padding: 0;
    margin: 0;
}

.slider .nav{
    z-index: 2;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -53px;
    color: white; 
}

.slider .nav .next, .slider .nav .prev{
    cursor: pointer
}

.slider .nav span:not(.counter){
    display: block;
    background: #242424;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    border-radius: 50%; 
    line-height: 25px;
    font-weight: bolder;
}
.slider .counter{
    display: block;
    color:white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}


@media screen and (min-width:700px){

    .slider .slide .arrow{
        bottom: -26px;
    }

    .slider .nav{
        right: 13px;
    }

    .slider .container .text{
        position: absolute;
        width: 41%;
        bottom: 0;
        left: 15%;
        max-width: 400px;
        color:white;
        bottom: 0;
        min-height: none;

    }


}







