
<div class="slider">
    <div  *ngFor="let slide of slides_array" class="slide {{ slide.class_css }}"  > 
        <!-- <div  *ngFor="let slide of slides_array" [@slide]="slide.class_css" (@slide.done)="animatingToFalse()" class="slide"  > -->
        <a href="{{ slide.url }}" class="content"  [ngStyle]="{'background-image': 'url(' + slide.src + ')'}">
            <div class="container">
                <div class='text'>
                    <h2>{{ slide.title }}</h2>
                    <p>{{ slide.text }}</p>
                    <span class="arrow" >→</span>
                </div>
            </div>
        </a>
    </div>
    <div class="nav"><span class="prev" (click)="prev(true)">↑</span><span class="counter">{{ count}} / {{ pages }}</span><span class="next" (click)="next(true)">↓</span></div>            
    
    <div class="progress-bar"><div class="progress" [ngStyle]="{'width':  progressBarWitdh + '%' }"></div></div>
</div>
<div class="">Test content</div>