.slider a{
    color: black;
    text-decoration: none;
    background-position: 50% 50%;
}


.slider .slide .arrow{
    background: #242424;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    width: 50px;
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 44px;
    position: absolute;
    right: 20%;
    bottom: 7px;
}

.slider .slide .arrow:before{
    content: '';
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    border: 2px solid white;
    top: 3px;
    left: 3px;
}

.slider{
    position: relative;
    overflow: hidden;
    transition: height 500ms;
    height: 166px;
}

.slide a{
    display: block;
    background-size: cover; 
}

.slider .slide img{
    display: block;
}


.slider .text{
    padding: 15px;
    border-bottom: 30px solid #242424;
    box-sizing: border-box;
    color: #FFF;
    padding-right: 54px;
    min-height: 166px;
}

.slider .text:after{
    content:'';
    display: block;
}

.slider .text h2{
    color: #FFF;
    font-size: 25px;
}

.slider .text p{
    margin-top: 0;
}
.slider .slide{
    position: absolute;
    top: -200%;
    width: 100%;
    animation-duration: 700ms; 
}

 .slider .slide.previous{
    top: 0;
    opacity: 1;
}


.slider .slide.active{
    z-index: 1;
    top: 0;
    animation-name: slideDown;
    animation-duration: 700ms; 
} 


@keyframes slideDown{
    from {top: -200%; opacity: 0;}
    to {top:0; opacity: 1;}
}

@keyframes slideUp {
    from {top: 0; opacity: 0;}
    to {top:-200%; opacity: 1;}
}


.slider .slide h2{
    padding: 0;
    margin: 0;
}

.slider .nav{
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -53px;
    color: white; 
    z-index:2;
}

.slider .nav .next, .slider .nav .prev{
    cursor: pointer
}

.slider .nav span:not(.counter){
    display: block;
    background: #242424;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    border-radius: 50%; 
    line-height: 25px;
    font-weight: bolder;
}
.slider .counter{
    display: block;
    color:white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

.progress-bar{
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
}

.progress-bar .progress{
    width: 33%;
    background-color: #000028;
    height: 100%;
    transition-duration: 300ms;
}


@media screen and (min-width:700px){

.slider{
    height: 500px;
}

.slider .text h2{
    color: #3d3d3d;
    font-size: 44px;
}

.slider .container{
    height : 500px;
}


.slider .nav{
    right: 13px;
}

.slider .slide .arrow{
    bottom: -26px;
    width: 51px;
    height: 51px;
}

.slider .slide .arrow:before{
    left: 4px;
}

.slider .container .text{
    position: absolute;
    width: 41%;
    bottom: 0;
    left: 15%;
    max-width: 400px;
    color:white;
    bottom: 0;
    min-height: none;
    padding: 15px;
    border-bottom: 30px solid #242424;
    box-sizing: border-box;
    color: #666;
    background-color:white;
}

}