/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'HelveticaNeueLT-Light';
  src: url('./assets/Font/HelveticaNeue-Light.eot') format('embedded-opentype'), 
   url('./assets/Font/HelveticaNeue-Light.woff') format('woff'), 
   url('./assets/Font/HelveticaNeue-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: HelveticaNeueLT-Light; 
}


img{
    max-width: 100%;
}










